<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - NxT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lux.css"/>
    <link rel="icon" type="image/svg+xml" href="~/Content/Image/NxT.svg"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico"/>
    <link rel="icon" type="image/ico" href="~/Content/favicon.ico"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/NxT.Mvc.styles.css" asp-append-version="true"/>
</head>
<body>
<header class="bg-primary">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-4" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Content/Image/Nxt.svg" alt="Logo NxT" width="55" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Sellers" asp-action="Index">Sellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SalesRecords" asp-action="Index">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="GitHub" asp-action="Index">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer bg-light-subtle text-muted">
    <section class="container d-flex justify-content-around text-black">
        <div>
            <img src="~/Content/Image/Nxt.png" alt="Logo NxT" width="55"/>
            &copy; 2024 - NxT, Maintained by NextTrend
        </div>
        <img src="~/Content/Image/NextTrend.png" alt="Logo NxT" width="55"/>
    </section>
    <a href="https://github.com/acenelio/workshop-asp-net-core-mvc">Original Project</a>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>